{% load i18n %}

  <style>
    #map-search-container {
      position: absolute;
      z-index: 10000;
      background: white;
      border-radius: 4px;
      padding: 6px;
        margin:6px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #map-search {
      width: 250px;
      padding: 6px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    .search-results {
      position: absolute;
      background: white;
      border: 1px solid #ccc;
      width: 250px;
      max-height: 200px;
      overflow-y: auto;
      font-size: 14px;
      z-index: 10001;
    }

    .search-results div {
      padding: 6px;
      cursor: pointer;
    }

    .search-results div:hover {
      background-color: #eee;
    }
  </style>

<div id="map-search-container">
    <input id="map-search" type="text" placeholder="Move to Location" />
    <div id="map-search-results" class="search-results"></div>
    {#    Map search function must be defined in your core js#}

    <button id="map-search-button" class="btn-success" onclick=map_search(event,"{{ widget.attrs.id }}-map")>Search</button>
</div>

<div id="{{ widget.attrs.id }}-map" style="position: relative; display: block; width: 100%; height: 300px;" class="init-widget" data-value="{{ widget.value|default_if_none:"POINT(0 0)" }}" data-center="{{ widget.attrs.map_center|safe }}" data-zoom="{{ widget.attrs.zoom }}" data-clickfunction="{{ widget.attrs.clickFunction }}"></div>

<input style="display:none" type="text"
       name="{{ widget.name }}"
       value="{{ widget.value|default_if_none:"POINT(0 0)" }}"
       class="vTextField"
       id="{{ widget.attrs.id }}"
       {% if widget.attrs.size %}size="{{ widget.attrs.size }}"{% endif %}
       {% if widget.attrs.maxlength %}maxlength="{{ widget.attrs.maxlength }}"{% endif %}/>


<script>
    mapboxAdmin('{{ widget.attrs.id }}-map','{{widget.value}}')
</script>

