{% load static %}

{% include 'mapbox_headers.html' %}

<script>

    const maxZoom= parseInt('{{ maxZoom }}');
    let center= {{ center|safe }};
	if(center&&center.coordinates)
		center=center.coordinates;

	let options = {
		container: 'map',
		style: '{{ style }}',
		maxZoom: maxZoom,
		minZoom: 0,
		pitch: 60,
		center: center,
		zoom: 10
	}

	const icons = {{ icons|safe }};

	const query = '{{ query }}';

	let url= '{{ json_url }}';
	if( query !== 'None')
		url+='?'+query+'='+document.getElementById('{{query}}').value;

	const map = new maplibregl.Map(options);

	map.on('load', function () {
		loadIcons(map, icons);
		fetch(url)
			.then(response => response.json())
			.then(data => {
				map.getSource('data').setData(data);
				{% if links == True %}
                    const lineSource = createLineSource(data.features);

                    map.addSource('line-source', {
                        type: 'geojson',
                        data: lineSource,
                    });

                    map.addLayer({
                        id: 'lines-between-features',
                        type: 'line',
                        source: 'line-source',
                        paint: {
                            'line-color': '#F9AA33',
                            'line-width': 5,
                            'line-opacity':0.2
                        }
                    });
				{% endif %}


				const bbox = turf.bbox(data);
				map.fitBounds(bbox, {padding: 20, maxZoom: options.maxZoom})
			})
			.catch(error => console.error(error));
	});

	map.on('click', 'data', (event) => {
		const features = map.queryRenderedFeatures(event.point, {layers: ['data']});
		if (features.length > 0) {
            window.location = `{{ click_url }}`;
		}
	});

	function reload_map_data() {
		fetch(`{{ json_url }}?q=${document.getElementById('q').value}`)
			.then(response => response.json())
			.then(data => {
				// Process the retrieved data here
                debugger;
				map.getSource('data').setData(data);
				const bbox = turf.bbox(data);
				map.fitBounds(bbox, {padding: 200})
			});
    }

	function loadIcons(map, icons) {
		icons.forEach((icon) => {
			map.loadImage(icon.url, (error, image) => {
				if (error) {
					console.error('Error loading icon:', error);
					return;
				}

				// Add the image to the map
				if (!map.hasImage(icon.name)) {
					map.addImage(icon.name, image);
				}
			});
		});
	}

	function createLineSource(features) {
		// Get the first feature's coordinates
		const firstFeatureCoords = features[0].geometry.coordinates;

		// Create a GeoJSON LineString for each connection
		const lines = features.slice(1).map((feature) => {
			return {
				type: 'Feature',
				geometry: {
					type: 'LineString',
					coordinates: [firstFeatureCoords, feature.geometry.coordinates],
				},
			};
		});

		// Create a GeoJSON FeatureCollection for the line source
		return {
			type: 'FeatureCollection',
			features: lines,
		};
	}

	function moveToPoint(point,zoom) {
        map.flyTo({center: point.coordinates,zoom:zoom});
    }


</script>