{% load static %}

{% include 'mapbox_headers.html' %}


<script src="/static/js/mapbox-client.js"></script>
<script>
    mapboxClient('{{style}}',{{ center|safe }},{{ icons|safe }} ,'{{ query }}', '{{ json_url }}','{{ maxZoom }}', '{{location}}','{{ links }}','{{ click_url }}','{{clickFunction}}', '{{locationFunction}}', '{{nearFunction}}','{{threshold}}','{{cluster}}');
</script>
<!--?


	map.on('click', 'unclustered-points', (event) => {
		const features = map.queryRenderedFeatures(event.point, {layers: ['unclustered-points']});
		if (features.length > 0) {
			console.log(features[0].properties.id);
			window.location = `/Map/${features[0].properties.id}/`;
		}
	});

	map.on('click', 'clusters', (e) => {
		const clusterCoordinates = e.features[0].geometry.coordinates;

		// Set the new zoom level, making sure it doesn't exceed the maximum allowed zoom level
		const newZoom = Math.min(map.getZoom() + 2, map.getMaxZoom());

		// Center the map on the clicked cluster and zoom in
		map.easeTo({
			center: clusterCoordinates,
			zoom: newZoom,
			duration: 1000 // Animate the transition for 1000 ms
		});

	});

	map.on('mouseenter', 'clusters', () => {
		map.getCanvas().style.cursor = 'pointer';
	});

	map.on('mouseleave', 'clusters', () => {
		map.getCanvas().style.cursor = '';
	});




</script>-->
